/.vs
/bin
/obj
/default.build.user
/ext/coolsb/obj
/ext/editorconfig-core/obj
/ext/scintilla/obj
/signinfo.txt
/src/BowPad.vcxproj.user
/ext/scintilla/Scintilla.vcxproj.user
/src/*.aps
/src/version.h
/version.build
/ext/coolsb/coolsb.vcxproj.user
/ext/choco/package
/src/Setup/VersionNumberInclude.wxi
/src/ResourceDll.vcxproj.user
/ext/editorconfig-core/editorconfig.vcxproj.user
/test
/_ReSharper.Caches
/BowPad.sln.DotSettings.user
/enc_temp_folder
/packages
/src/ExplorerCommandVerb/ExplorerCommandVerb.vcxproj.user
/src/Setup/x64
/src/Setup/CustomActions/CustomActions.vcxproj.user
/ext/uchardet.vcxproj.user
/src/Setup/ARM64
