[submodule "ext/sktoolslib"]
	path = ext/sktoolslib
	url = https://github.com/stefankueng/sktoolslib.git
	branch = main
[submodule "ext/tinyexpr"]
	path = ext/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "ext/lexilla"]
	path = ext/lexilla
	url = https://github.com/ScintillaOrg/lexilla.git
[submodule "ext/compact_enc_det"]
	path = ext/compact_enc_det
	url = https://github.com/google/compact_enc_det.git
